<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700709697980-a1lctn48t5m6ah2sost4t1hv5817vm43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700709697980-a1lctn48t5m6ah2sost4t1hv5817vm43</string>
	<key>API_KEY</key>
	<string>AIzaSyDitjehqi0dFdI-s98ytdEZMFJ4PW7nQpI</string>
	<key>GCM_SENDER_ID</key>
	<string>700709697980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jchatapp</string>
	<key>PROJECT_ID</key>
	<string>jchat-5bcc3</string>
	<key>STORAGE_BUCKET</key>
	<string>jchat-5bcc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700709697980:ios:3cfe54edf311ec7b08d3b9</string>
	<key>DATABASE_URL</key>
	<string>https://jchat-5bcc3.firebaseio.com</string>
</dict>
</plist>